<!--footer da página-->
<div class="footer">
  <div class="footer-brand">
    <img src="../../assets/logomarca-bg-off.png" alt="logomarca uma sinfonia diferente" class="logo">
    <h1 class="title">Entre em Contato</h1>
  </div>
  <div class="details">
    <div class="detail localization">
      <h2 class="title">Localização</h2>
      <p class="text">8º Rua, nº 1856, Setor 01, Ariquemes - Rondônia</p>
    </div>
    <div class="detail email">
      <h2 class="title">E-mail</h2>
      <p class="text">projetousd@gmail.com</p>
    </div>
    <div class="detail phone">
      <h2 class="title">Telefone</h2>
      <p class="text">(69) 9 8176-2874</p>
    </div>
  </div>
</div>