<!--footer da página-->
<div class="footer">
  <div class="footer-brand">
    <img src="../../assets/logomarca-bg-off.png" alt="logomarca uma sinfonia diferente" class="logo">
    <h1 class="title">Entre em Contato</h1>
  </div>
  <div class="details">
    <div class="detail localization">
      <h2 class="title">Localização</h2>
      <p class="text">8º Rua, nº 1856, Setor 01, Ariquemes - Rondônia</p>
      <div class="map"></div>
    </div>
    <div class="detail email">
      <h2 class="title">E-mail</h2>
      <p class="text">projetousd@gmail.com</p>
    </div>
    <div class="detail phone">
      <h2 class="title">Telefone</h2>
      <a class="whatsapp" href="https://api.whatsapp.com/send?phone=556981062874" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
        (69) 9 8106-2874
      </a>
    </div>
  </div>
  <div class="copy">
    <p class="text">© 2020 Uma Sinfonia Diferente. Todos os direitos reservados.</p>
  </div>
</div>