<!--footer da página-->
<div class="footer">
  <div class="footer-brand">
    <img src="../../assets/logomarca-bg-off.png" alt="logomarca uma sinfonia diferente" class="logo">
    <h1 class="title">{{project.nome}}</h1>
  </div>
  <div class="details">
    <div class="detail-localization">
      <h2 class="title">Localização</h2>
      <p class="text">{{project.local}}</p>
      <app-maps></app-maps>
    </div>
    <div class="menu-nav">
      <h2 class="title">Menu</h2>
      <app-menu-nav></app-menu-nav>
    </div>
    <div class="contato">
      <h2 class="title">Contato</h2>
      <div class="detail email">
        <h3 class="title">E-mail</h3>
        <p class="text">{{project.email}}</p>
      </div>
      <div class="detail phone">
        <h3 class="title">Telefone</h3>
        <a class="link whatsapp" href="{{project.linkWapp}}" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          {{project.phone}}
        </a>
      </div>
    </div>
    <div class="social-media">
      <h2 class="title">Redes Sociais</h2>
      <div class="detail instagram">
        <h3 class="title">Instagram</h3>
        <a class="link instagram" href="https://instagram.com/{{project.insta}}" target="_blank">
          <i class="fa-brands fa-instagram"></i>
          /umasinfoniadiferente
        </a>
      </div>
      <div class="detail Facebook">
        <h3 class="title">Facebook</h3>
        <a class="link facebook" href="https://facebook.com/{{project.facebook}}" target="_blank">
          <i class="fa-brands fa-facebook"></i>
          /umasinfoniadiferente
        </a>
      </div>
    </div>
  </div>
  <div class="copy">
    <p class="text">© 2023 <span>Uma Sinfonia Diferente. </span></p>
    <p class="text">Todos os direitos reservados.</p>
    <p class="text by">By <a href="https://www.linkedin.com/in/{{project.creator}}" target="_blank">{{project.creatorName}}</a>
    </p>
  </div>
</div>