.navbar
  display: flex
  justify-content: start
  width: 100%
  background: rgb(0,0,0)
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(26,60,168,1) 68%)

a
  display: flex
  flex-direction: row
  align-items: center
  text-decoration: none
  color: #fff

.logo
  width: 40px
  height: 40px
  margin: 2rem

.title
  font-size: 1.4rem
  font-weight: 600
