<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="../../assets/logomarca-bg-off.png" alt="logomarca uma sinfonia diferente" class="logo">
      <h1 class="title">Uma Sinfonia Diferente</h1>
    </a>
  </div>
  <div class="navbar-burger burger" (click)="toggleCollapse()" data-target="navbarMenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <app-menu-nav class="navbar-collapse"></app-menu-nav>
</nav>