<div class="modal-header">
  <h1 class="modal-title fs-5" id="usuarioModalLabel" *ngIf="!tutorEdit.id">
    Novo Tutor
  </h1>
  <h1 class="modal-title fs-5" id="usuarioModalLabel" *ngIf="tutorEdit.id">
    Editar Tutor
  </h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal"
    aria-label="Close" (click)="clearTutorEdit()"></button>
</div>
<div class="modal-body">
  <form class="row g-3" [formGroup]="tutorForm">
    <div class="col-md-6">
      <label for="inputImagem" class="form-label">Imagem Link</label>
      <textarea type="text" class="form-control" id="inputImagem"
        formControlName="avatar" placeholder="https://***.(png, jpg, bmp)"
        [value]="tutorEdit.avatar" style="height: 140px;"></textarea>
    </div>
    <div class="col-md-6">
      <p class="m-0">
        <label for="previewImagem" class="form-label">Imagem Preview</label>
      </p>
      <div class="text-center">
        <img [src]="tutorEdit.avatar" style="height: 140px;"
          class="rounded img-thumbnail img-fluid"
          alt="Imagem {{tutorEdit.nome}}">
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputNome4" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputNome4"
        formControlName="nome" placeholder="Nome Sobrenome"
        [value]="tutorEdit.nome">
    </div>
    <div class="col-md-6">
      <label for="inputFuncao" class="form-label">Função</label>
      <input type="text" class="form-control" id="inputFuncao"
        formControlName="funcao" placeholder="Funções"
        [value]="tutorEdit.funcao">
    </div>
    <div class="col-md-6">
      <label for="inputContato" class="form-label">Contato WhatsApp</label>
      <input type="text" class="form-control" id="inputContato"
        formControlName="contact" placeholder="(00) 00000-0000"
        [value]="tutorEdit.contact">
    </div>
    <div class="col-md-6">
      <label for="inputInstagram" class="form-label">Instagram</label>
      <input type="text" class="form-control" id="inputInstagram"
        formControlName="insta" placeholder="@usuario"
        [value]="tutorEdit.insta">
    </div>
    <div class="col-md-12">
      <label for="inputDescricao" class="form-label">Descrição</label>
      <textarea type="text" class="form-control" id="inputDescricao"
        formControlName="descricao" placeholder="Professor de..."
        [value]="tutorEdit.descricao" style="height: 60px;"></textarea>
    </div>
  </form>
</div>
<div class="col-12">
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
      data-bs-dismiss="modal" (click)="clearTutorEdit()">Cancelar</button>
    <button *ngIf="!tutorEdit.id" type="submit" class="btn btn-primary"
      data-bs-dismiss="modal" (click)="SaveData()">Salvar</button>
    <button *ngIf="tutorEdit.id" type="submit" class="btn btn-danger"
      data-bs-dismiss="modal"
      (click)="deleteTutor(tutorEdit.id)">Excluir</button>
    <button *ngIf="tutorEdit.id" type="submit" class="btn btn-success"
      data-bs-dismiss="modal" (click)="SaveData()">Editar</button>
  </div>
</div>