<div class="content">
  <div class="card">
    <div class="img">
      <img src="../../../assets/login.png" alt>
    </div>
    <div class="tutores">
      <div class="header">
        <div class="avatar">
          <h5 class="title">Faça seu login</h5>
        </div>
      </div>
      <form action method="post" class="form">
        <div class="form-group">
          <label for="login" class="form-label email">Email</label>
          <input type="email" class="input form-email" placeholder="email@email.com">
        </div>
        <div class="form-group">
          <label for="password" class="form-label password">Senha</label>
          <input type="password" class="input form-password" placeholder="******">
        </div>
      </form>
      <div class="body">
        <div class="action">
          <a
            href="#"
            class="button login" target="_blank">
            Entrar
          </a>
          <a
            href="#" class="button forgetpass"
            target="_blank">
            Esqueci a senha
          </a>
        </div>
      </div>
      <p class="info">
        Painel administrativo
      </p>
    </div>
  </div>
</div>