<div class="home">
  <div class="content">
    <div class="image">
      <img src="../../assets/illustrations/Playing Music-rafiki.png" 
      alt="logomarca uma sinfonia diferente" class="logo">
    </div>
    <div class="details">
      <h1 class="title">Uma Sinfonia Diferente</h1>
      <p class="text">
        Um projeto de educação musical que visa a inclusão social e a musicalização 
        de crianças, jovens e adultos através do ensino de música.
      </p>
      <div class="buttons">
        <a class="button button-mais" routerLink="/sobre" routerLinkActive="active" ariaCurrentWhenActive="page">Saiba mais</a>
        <a class="button button-aulas" routerLink="/aulas" routerLinkActive="active" ariaCurrentWhenActive="page">Aulas</a>
      </div>
    </div>
  </div>
</div>