// home com backgroud color gradiente de azul para preto
.home
  display: flex
  width: 100%
  height: 100%
  flex-direction: column
  background: #FEE600
.content
  display: flex
  flex-direction: row
.image
  width: 35vw
  display: flex
  justify-content: center
  align-items: center
  background: #ffffff
.logo
  width: 35vw
  height: 35vw
.details
  display: flex
  width: 65vw
  padding: 5rem
  flex-direction: column
  align-items: flex-start
.title
  box-sizing: border-box
  text-align: start
  font-size: 4.5rem
  width: 100%
  margin: 0
  font-weight: 900
  color: #000000
.text
  box-sizing: border-box
  font-size: 1.5rem
  text-align: start
  font-weight: 400
  color: #000000
  width: 100%
.buttons
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 100%
  padding-top: 3rem
.button
  width: 100%
  margin: 0 2rem
  height: 50px
  min-width: 150px
  border-radius: 0.8rem
  border: none
  display: flex
  text-decoration: none
  align-items: center
  justify-content: center
  background: #fff
  cursor: pointer
  transition: 0.5s
.button:hover
  background: linear-gradient(180deg, #f8cd0d 0%, #ff4a02 68%)
  transition: 0.2s
  transform: scale(1.03)
  box-shadow: 0 5px 10px #000000
  color: #fff
.button>p
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  margin: 0
  color: #000000
  font-size: 1.7rem
  font-weight: 700
  font-variant-caps: all-small-caps
