<div class="home">
  <div class="content">
    <div class="details">
      <h1 class="title">Aprenda a tocar um instrumento musical e divirta-se.</h1>
      <p class="text">
        Projeto que realiza a musicalização de crianças, jovens, adultos e idosos, defendendo a música e a cultura como
        ferramenta de desenvolvimento humano.
      </p>
      <div class="buttons">
        <a class="button button-mais" href="https://api.whatsapp.com/send?phone=556981062874" target="_blank">
          <p><i class="fa-brands fa-whatsapp"></i>Saiba mais</p>
        </a>
        <a class="button button-aulas" routerLink="/aulas" routerLinkActive="active" ariaCurrentWhenActive="page">
          <p>Aulas</p>
        </a>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/illustrations/Compose music-cuate.png" alt="logomarca uma sinfonia diferente" class="logo">
    </div>
  </div>
</div>
<app-details></app-details>
<app-tutores></app-tutores>
<app-instagram></app-instagram>