<div class="content">
  <h4 class="title">Aulas diversificadas para todas as idades!</h4>
  <div class="beneficios">
    <div class="beneficio" *ngFor="let beneficio of beneficios">
      <i class="fa-solid fa-check"></i>
      <h5 class="title-beneficio">{{beneficio.title}}</h5>
      <p class="legenda">
        {{beneficio.legenda}}
      </p>
    </div>
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3276197305354747"
    crossorigin="anonymous"></script>
  <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid"
    data-ad-client="ca-pub-3276197305354747" data-ad-slot="2186910831"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>