.content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 80vh
  background: #000000

.title
  box-sizing: border-box
  text-align: center
  font-size: 3rem
  width: 100%
  margin: 0
  font-weight: 900
  color: #FEE600
  margin-bottom: 5rem

.beneficios
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 100%
.beneficio
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 3rem

.beneficio>i
  font-size: 3rem
  width: 50px
  height: 50px
  padding: 0.7rem
  border-radius: 100px
  color: #000
  background: #FEE600
  line-height: 50px
  text-align: center

.title-beneficio
  font-size: 1.5rem
  font-weight: 900
  color: #fff
  margin: 1rem 0

.legenda
  font-size: 1.4rem
  font-weight: 300
  color: #FEE600
  text-align: center
  line-height: 1.5rem
  margin: 0
  padding: 0 1rem

// implemntação de layout responsivo
@media (max-width: 1315px)
  .content
    width: 100%
    height: 100%
    padding: 3rem 0
  .title
    font-size: 2rem
    margin-bottom: 3rem
  .beneficios
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 2rem
    transition: all 0.5s ease-in-out
  .beneficio
    margin-bottom: 3rem
    padding: 0
  .beneficio>i
    font-size: 2rem
    width: 40px
    height: 40px
    line-height: 40px
  .title-beneficio
    font-size: 1.2rem
  .legenda
    font-size: 1.2rem
    width: 230px
