<div class="container mh-100">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button type="button" class="btn btn-outline-dark myInput"
      data-bs-toggle="modal" data-bs-target="#usuarioModal">
      Adicionar
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.nome}}</td>
        <td>{{user.funcao}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="user.status === 'true'">Ativo</td>
        <td *ngIf="user.status === 'false'">Inativo</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#usuarioModal"
            (click)="getUser(user.id)">
            <i class="fa-solid fa-pen"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="usuarioModal" tabindex="-1"
  aria-labelledby="usuarioModalLabel" aria-hidden="true"
  (hidden.bs.modal)="reload()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-form-user></app-form-user>
    </div>
  </div>
</div>